AUTHORS
CHANGES.html
LICENSE
RELEASE_NOTES
test.py
utils
VERSION
waf-tools
wutils.pyc
bindings
doc
Makefile
scratch
testpy-output
examples
utils.py
waf
wscript
README
testpy.supp
utils.pyc
waf.bat
wutils.py
.hg/
.hgignore
.hgtags
.lock-waf_linux2_build
.waf-1.8.19-b1fc8f7baef51bd2db4c2971909a568d/
*.so
*.o
*.txt
*.pcap
*.pyc
*.pc
*.py
build/src/fd-net-device/*
*

!.gitignore
!*.cc
!*.hh
!*.h
!*.c

!*/
